<%- include('../partials/_head.ejs') %> <%- include('../partials/header.ejs') %>
<div class="add-item">
    <% if (locals.successAddNewItem) { %>
    <span>The new item was addedd successfully!</span>
    <% } %> <% if (locals.errors) { %> Please, fix the following errors:
    <ul class="errors">
        <% locals.errors.forEach((error) => { %>
        <li><%= error.msg %></li>
        <% }) %>
    </ul>
    <span></span>
    <% } %> <% if(locals.requirements) { %>
    <form action="/items/new" method="post">
        <label for="name">Name: </label>
        <input
            type="text"
            name="name"
            minlength="<%= locals.requirements.item.minLength %>"
            maxlength="<%= locals.requirements.item.maxLength %>"
            required
        />
        <label for="description">Description: </label>
        <textarea
            rows="2"
            cols="10"
            name="description"
            minlength="<%= locals.requirements.description.minLength %>"
            maxlength="<%= locals.requirements.description.maxLength %>"
        ></textarea>
        <label for="price">Price: </label>
        <input
            type="number"
            name="price"
            min="<%= locals.requirements.price.min %>"
            max="<%= locals.requirements.price.max %>"
            step="<%= locals.requirements.price.step %>"
            required
        />
        <label for="quantity">Quantity: </label>
        <input
            type="number"
            name="quantity"
            min="<%= locals.requirements.quantity.min %>"
            max="<%= locals.requirements.quantity.max %>"
            required
        />
        <label for="categoryId">Category</label>
        <% if (locals.parentItems) { %>
        <select name="categoryId" required>
            <% locals.parentItems.forEach((category) => { %>
            <option value="<%= category.id %>"><%= category.name %></option>
            <% }) %>
        </select>
        <% } %>
        <button type="submit">Add new item</button>
    </form>
    <% } %>
</div>
<%- include('../partials/_footer.ejs') %>
