<%- include('../partials/_head.ejs') %> <%- include('../partials/header.ejs') %>
<% if (locals.successDelete === false) { %> There was a problem and the item was
not deleted. <% } %> <% if (locals.item) { %> Showing the description of the
selected item.
<div class="item">
    <div class="name">Name: <%= locals.item.name %></div>
    <div class="description">Description: <%= locals.item.description %></div>
    <div class="price">Price: <%= item.price %></div>
    <div class="quantity">Quantity: <%= locals.item.quantity %></div>
    <div class="category">Category: <%= locals.item.category_id %></div>
</div>
<div class="update-item">
    <a href="/items/<%= locals.item.id %>/update">Update item</a>
</div>
<div class="delete-item">
    <a href="/items/<%= locals.item.id %>/delete">Delete item</a>
</div>
<% } %> <% if(locals.itemNotFound === true) { %>
<div class="item">The item you are trying to delete was not found.</div>
<% } %> <%- include('../partials/_footer.ejs') %>
