<%- include('../partials/_head.ejs') %> <%- include('../partials/header.ejs') %>

<div class="add-item">
    <% if (locals.successUpdateItem === true) { %>
    <span>The item was successfully updated!</span>
    <% } else if (locals.successUpdateItem === false) { %>
    <span>You must change some parameter in order to update the item!</span>
    <% } %>

    <span>You can change the item details below:</span>

    <% if (locals.errors) { %>
    <p>Please, fix the following errors:</p>
    <ul class="errors">
        <% locals.errors.forEach((error)=> { %>
        <li><%= error.msg %></li>
        <% }) %>
    </ul>
    <% } %> <% if (locals.requirements) { %>
    <form action="/items/<%= locals.item.id %>/update" method="post">
        <label for="item-name">Name: </label>
        <input
            type="text"
            name="name"
            id="item-name"
            minlength="<%= locals.requirements.item.minLength %>"
            maxlength="<%= locals.requirements.item.maxLength %>"
            value="<%= locals.item.name %>"
            required
        />

        <label for="item-description">Description: </label>
        <textarea
            rows="2"
            cols="10"
            name="description"
            id="item-description"
            minlength="<%= locals.requirements.description.minLength %>"
            maxlength="<%= locals.requirements.description.maxLength %>"
        >
<% if (locals.item.description) { %>
<%= locals.item.description %>
      <% } %>
      </textarea
        >

        <label for="item-price">Price: </label>
        <input
            type="number"
            name="price"
            id="item-price"
            min="<%= locals.requirements.price.min %>"
            max="<%= locals.requirements.price.max %>"
            step="<%= locals.requirements.price.step %>"
            value="<%= locals.item.price %>"
            required
        />

        <label for="item-quantity">Quantity: </label>
        <input
            type="number"
            name="quantity"
            id="item-quantity"
            min="<%= locals.requirements.quantity.min %>"
            max="<%= locals.requirements.quantity.max %>"
            value="<%= locals.item.quantity %>"
            required
        />
        <% if (locals.subCategories) {%>
        <div>
            <% locals.subCategories.forEach((category) => { %>
            <input
                type="checkbox"
                name="categories[]"
                value="<%= category.id %>"
                id="item-category-<%= category.id %>"
                <%locals.relatedCategories.forEach((relatedCategory) => {
                if(relatedCategory.category_id === category.id) {%> checked <%
                }}) %>
            />
            <label for="item-category-<%= category.id %>"
                ><%= category.name %> 
                </label
            >
            <% }) %>
        </div>
        <% } %>
        <button type="submit">Update item</button>
    </form>
    <% } %>
</div>

<%- include('../partials/_footer.ejs') %>
