<%- include('../partials/_head.ejs') %> <%- include('../partials/header.ejs') %>
        <div class="add-category">
            <% if (locals.successAddNewCategory) { %>
                <span>The new category was successfully updated!</span>
                <% } %>
                    <% if (locals.errors) { %> Please, fix the following errors:
                        <ul class="errors">
                            <% locals.errors.forEach((error)=> { %>
                                <li>
                                    <%= error.msg %>
                                </li>
                                <% }) %>
                        </ul>
                        <% } %>
                            <% if(locals.requirements) { %>
                                <form action="/categories/<%= locals.category.id %>/update" method="post">
                                    <label for="category-name">Name: </label>
                                    <input type="text" name="name" id="category-name"
                                        minlength="<%= locals.requirements.category.minLength %>"
                                        maxlength="<%= locals.requirements.category.maxLength %>" required
                                        value="<%= locals.category.name %>" />
                                    <label for="category-categoryId">Category</label>
                                    <% if (locals.categories) { %>
                                        <select name="parent_id" id="category-categoryId" required>
                                            <% locals.categories.forEach((categoryIter)=> { %>
                                                <option value="<%= categoryIter.id %>" <% if
                                                    (locals.category.parent_id===categoryIter.id){ %> selected <% } %>>
                                                        <%= categoryIter.name %>
                                                </option>
                                                <% }) %>
                                        </select>
                                        <% } %>
                                            <button type="submit">Update category</button>
                                </form>
                                <% } %>
        </div>
        <%- include('../partials/_footer.ejs') %>
